.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,250px);
    column-gap: 100px;
    row-gap: 50px;

    
    
}

div{
    background-color: blue;
    padding: 2rem;
    color: #fff;
}

.g6
{
    grid-column: 1;
    grid-row: 1;
}