*{
    box-sizing: border-box;
}

h1{
    background-color: darkblue;
    color: #FFF;

    /* Contenido 
    width: 800px;
    height: 100px;
    */
    /* Padding 
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 5px;
    
    arriba = top;
    derecha = right
    abajo = bottom
    izquierda = left;
    /*padding: 20px 50px 100px 5px; 

     padding: 20px 50px 5px;
     padding: 20px 50px ;
     padding: 20px;
     */

    /*Border*/
    border: 5px solid rgb(252, 0, 0);
    /* Margin */
    /*margin-left: 200px;*/
    /* Centrar elementos */
    margin: 0 auto;
    
    text-align: center;

    display: inline-block;
    position: absolute;
    z-index: 1;
}