*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-menu
{
    display: none;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
}

nav{
    width: 100%;
}

.menu{
    list-style: none;
    width: 90%;
    display: inline-block;
}

.img-portada
{
    width: 100%;
}

.menu li{
    display: inline-block;
}


body{
    max-width: 850px;
    margin: 0 auto;
}

.acercade p{
    font-size: 2.5rem;
}

section
{
    padding-top: 1rem;
}

form
{
    padding-top: 1rem;
}

.form-group label{
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.card{
    position: relative;
}

.card:hover button{
    display: block;
}
.card img{
    position: absolute;
}

.card button{
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 320px) {
    .btn-menu{
        display: inline-block;
    }
    .menu{
        display: none;
    }

    .galeria{
        grid-template-columns: repeat(1,1fr);
    }

    .galeria img{
        width: 100%;
    }
}




@media screen and (min-width:321px) and (max-width: 480px) {
    .galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:481px) and  (max-width: 768px) {
    .galeria{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:769px) and (max-width: 1024px) {}